.header-mobile,
.menu-mobile {
  display: none;
}
.header-desktop {
  display: block;
  padding: 1rem;

  &__hr {
    margin-top: 1rem;
    height: 1px;
    background-color: #eee;
    border: none;
  }
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    transition: background-color 0.4s ease;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
  &__logo {
    height: 3rem;
  }
}
.social-links {
  padding-bottom: 0;
}
.header-nav {
  padding-top: 0rem;
}
.internal-links {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.main {
  padding-top: 10rem;
}
.hero-header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: calc(100vh - 10rem);
  padding-bottom: 0;

  > div {
    flex: 1;
  }
  &__content {
    // padding-inline-end: 4rem;

    h1 {
      text-align: start;
    }
  }
}
.slideshow {
  margin-inline-end: 1rem;
  padding-top: 35%;
  border-radius: 1rem;
  overflow: hidden;
}
.services {
  padding: 0 1rem;

  &__wrapper {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }
  &__item {
    margin-bottom: 0;
    border-radius: 1rem;
  }
}
.achievements {
  margin: 0 1rem;
  border-radius: 1rem;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  &__item {
    border-radius: 1rem;
  }
}
