* {
  box-sizing: border-box;
}

body {
  font-family: Shabnam;
  max-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-mobile__button {
  width: 3rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease;
  cursor: pointer;
}
.header-mobile__button:hover {
  background-color: #eee;
}
.header-mobile__button span {
  display: block;
  width: 40%;
  height: 0.0625rem;
  background-color: #000;
  position: absolute;
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.header-mobile__button span:nth-child(1) {
  transform: translateY(-0.375rem);
}
.header-mobile__button span:nth-child(4) {
  transform: translateY(0.375rem);
}
.header-mobile__button.open span:nth-child(1), .header-mobile__button.open span:nth-child(4) {
  transform: translateY(0);
  opacity: 0;
}
.header-mobile__button.open span:nth-child(2) {
  transform: rotate(45deg);
}
.header-mobile__button.open span:nth-child(3) {
  transform: rotate(-45deg);
}
.header-mobile__logo {
  height: 3rem;
}

.menu-mobile {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: -48rem;
  transition: right 0.6s ease;
}
.menu-mobile.show {
  right: 0;
}
.menu-mobile__logo {
  height: 4rem;
  padding-top: 1rem;
}

.internal-links ul li {
  opacity: 0.5;
  transition: opacity 0.4s ease;
}
.internal-links ul li:hover, .internal-links ul li.active {
  opacity: 1;
}
.internal-links ul li a {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 1rem;
}

.social-links {
  padding-bottom: 1rem;
}
.social-links ul {
  display: flex;
}
.social-links ul li {
  padding-right: 1rem;
}
.social-links ul li a {
  display: inline-block;
  opacity: 0.5;
  transition: opacity 0.4s ease;
}
.social-links ul li a:hover {
  opacity: 1;
}
.social-links ul li a svg {
  width: 1rem;
  height: 1rem;
}

.header-desktop {
  display: none;
}

.main {
  padding-top: 5rem;
}

.hero-header {
  min-height: calc(100vh - 5rem);
  padding-bottom: 4rem;
}
.hero-header__content {
  padding: 1rem 1rem 0;
}
.hero-header__content h1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}
.hero-header__content p {
  text-align: justify;
  line-height: 1.6;
  opacity: 0.7;
}
.hero-header__footer {
  padding-top: 2rem;
  display: flex;
}
.hero-header__footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  border: 2px solid #000;
  border-radius: 1rem;
  padding: 1rem;
  transition: background-color 0.4s ease, color 0.4s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero-header__footer a:hover:first-child {
  background-color: transparent;
  color: #000;
}
.hero-header__footer a:hover:last-child {
  background-color: #000;
}
.hero-header__footer a:hover:last-child svg path {
  stroke: #fff;
}
.hero-header__footer a:first-child {
  flex: 0.5 0.5 auto;
  -webkit-margin-end: 0.5rem;
          margin-inline-end: 0.5rem;
}
.hero-header__footer a:last-child {
  background-color: transparent;
}

.slideshow {
  padding-top: 56.25%;
  position: relative;
}
.slideshow__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slideshow__slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: animeBlur;
          animation-name: animeBlur;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}
.slideshow__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slideshow__slide span {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #000;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
  width: 15rem;
}
.slideshow__slide span::before, .slideshow__slide span::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  padding: 1rem;
  background: transparent;
  border-radius: 0 0 1rem 0;
  box-shadow: 8px 8px 0 #fff;
}
.slideshow__slide span::after {
  left: unset;
  right: 0;
  transform: translateX(100%);
  background: transparent;
  border-radius: 0 0 0 1rem;
  box-shadow: -8px 8px 0 #fff;
}
.slideshow__pagination {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.slideshow__pagination span {
  margin: 0.125rem 1.5rem;
  padding: 0.25rem;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
.slideshow__pagination span.active {
  opacity: 1;
}
.slideshow__button {
  margin: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  background-color: #fff;
  border-radius: 1rem;
  transition: opacity 0.4s ease;
  cursor: pointer;
}
.slideshow__button:hover {
  opacity: 0.5;
}
.slideshow__button--prev {
  top: 0;
}
.slideshow__button--next {
  bottom: 0;
}

@-webkit-keyframes animeBlur {
  from {
    filter: blur(1rem);
  }
  to {
    filter: blur(0);
  }
}

@keyframes animeBlur {
  from {
    filter: blur(1rem);
  }
  to {
    filter: blur(0);
  }
}
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5rem;
}
.services h2 {
  width: 15rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.achievements {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.achievements h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem;
  background-color: #fff;
  width: 18rem;
  border-radius: 0 0 1rem 1rem;
  position: relative;
}
.achievements h2::after, .achievements h2::before {
  content: "";
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  border-radius: 0 1rem 0 0;
  box-shadow: 8px -8px 0 #fff;
}
.achievements h2::before {
  left: unset;
  right: 0;
  transform: translateX(100%);
  border-radius: 1rem 0 0 0;
  box-shadow: -8px -8px 0 #fff;
}

.cards {
  width: 100%;
  padding: 1rem 0;
}
.cards--dark .cards__content {
  color: #fff;
}
.cards--dark .cards__content h3 {
  background-color: #000;
}
.cards--dark .cards__content h3::after {
  box-shadow: 8px 8px 0 #000;
}
.cards--dark .cards__content h3::before {
  box-shadow: -8px 8px 0 #000;
}
.cards--dark .cards__content p {
  background-color: #000;
}
.cards__item {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  position: relative;
  margin-bottom: 1rem;
}
.cards__item:hover .cards__content {
  bottom: -25%;
}
.cards__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards__content {
  position: absolute;
  bottom: calc(-100% + 50px);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: bottom 0.4s ease, transform 0.4s ease;
}
.cards__content h3 {
  text-align: center;
  background-color: #fff;
  border-radius: 1rem 1rem 0 0;
  width: 18rem;
  padding: 1rem 0;
  font-size: 1.125rem;
  font-weight: bold;
  position: relative;
}
.cards__content h3::after, .cards__content h3::before {
  content: "";
  padding: 1rem;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-radius: 0 0 1rem 0;
  box-shadow: 8px 8px 0 #fff;
}
.cards__content h3::before {
  left: unset;
  right: 0;
  transform: translateX(100%);
  border-radius: 0 0 0 1rem;
  box-shadow: -8px 8px 0 #fff;
}
.cards__content p {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 1rem;
  text-align: justify;
  line-height: 1.6;
}
.cards__content p a {
  color: #4169e1;
}

.why-us {
  margin-bottom: 5rem;
}
.why-us h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.cards-2 {
  padding: 1rem;
}
.cards-2__wrapper {
  display: grid;
  gap: 1rem;
}
.cards-2__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}
.cards-2__item h3 {
  font-size: 1.125rem;
  font-weight: bold;
}
.cards-2__item p {
  opacity: 0.7;
  line-height: 1.6;
}

.latest-products {
  padding-bottom: 5rem;
}
.latest-products h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.cards-3 {
  padding: 1rem 0;
}
.cards-3__wrapper {
  display: grid;
  gap: 1rem;
}
.cards-3__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.cards-3__item img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.cards-3__item h3 {
  font-size: 1.125rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 18rem;
  padding: 1rem 0;
  text-align: center;
  border-radius: 1rem 1rem 0 0;
  line-height: 1.4;
}
.cards-3__item h3::after, .cards-3__item h3::before {
  content: "";
  background-color: transparent;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  border-radius: 0 0 1rem 0;
  box-shadow: 8px 8px 0 #fff;
}
.cards-3__item h3::before {
  left: unset;
  right: 0;
  transform: translateX(100%);
  border-radius: 0 0 0 1rem;
  box-shadow: -8px 8px 0 #fff;
}

.contact-us {
  padding-bottom: 5rem;
}
.contact-us h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}
.contact-us p {
  opacity: 0.7;
  line-height: 1.6;
  text-align: center;
}
.contact-us form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
}
.contact-us form select {
  grid-column: 1/3;
  padding: 1rem;
  border-radius: 1rem;
  font: inherit;
  outline: none;
  cursor: pointer;
}
.contact-us form input[type=submit] {
  padding: 1rem;
  font: inherit;
  border-radius: 1rem;
  border: 1px solid #000;
  outline: none;
  background-color: #000;
  color: #fff;
  transition: background-color 0.4s ease, color 0.4s ease;
}
.contact-us form input[type=submit]:hover {
  background-color: transparent;
  color: #000;
}

.container-input {
  position: relative;
}
.container-input--fw {
  grid-column: 1/3;
}
.container-input--title-top label {
  top: 1.5rem !important;
}
.container-input label {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  opacity: 0.7;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  background-color: #fff;
  padding: 0 0.5rem;
  transition: top 0.4s ease, font-size 0.4s ease;
}
.container-input input[type=text],
.container-input input[type=tel],
.container-input input[type=email],
.container-input textarea {
  width: 100%;
  padding: 0.75rem 1.25rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  font: inherit;
  resize: none;
  transition: border 0.4s ease;
}
.container-input input[type=text]::-moz-placeholder, .container-input input[type=tel]::-moz-placeholder, .container-input input[type=email]::-moz-placeholder, .container-input textarea::-moz-placeholder {
  color: transparent;
}
.container-input input[type=text]:-ms-input-placeholder, .container-input input[type=tel]:-ms-input-placeholder, .container-input input[type=email]:-ms-input-placeholder, .container-input textarea:-ms-input-placeholder {
  color: transparent;
}
.container-input input[type=text]::placeholder,
.container-input input[type=tel]::placeholder,
.container-input input[type=email]::placeholder,
.container-input textarea::placeholder {
  color: transparent;
}
.container-input input[type=text]:focus,
.container-input input[type=tel]:focus,
.container-input input[type=email]:focus,
.container-input textarea:focus {
  border-color: #000;
}
.container-input input[type=text]:not(:-moz-placeholder-shown) + label, .container-input input[type=tel]:not(:-moz-placeholder-shown) + label, .container-input input[type=email]:not(:-moz-placeholder-shown) + label, .container-input textarea:not(:-moz-placeholder-shown) + label {
  top: 0 !important;
  opacity: 1;
  font-size: 12px;
}
.container-input input[type=text]:not(:-ms-input-placeholder) + label, .container-input input[type=tel]:not(:-ms-input-placeholder) + label, .container-input input[type=email]:not(:-ms-input-placeholder) + label, .container-input textarea:not(:-ms-input-placeholder) + label {
  top: 0 !important;
  opacity: 1;
  font-size: 12px;
}
.container-input input[type=text]:focus + label, .container-input input[type=text]:not(:placeholder-shown) + label,
.container-input input[type=tel]:focus + label,
.container-input input[type=tel]:not(:placeholder-shown) + label,
.container-input input[type=email]:focus + label,
.container-input input[type=email]:not(:placeholder-shown) + label,
.container-input textarea:focus + label,
.container-input textarea:not(:placeholder-shown) + label {
  top: 0 !important;
  opacity: 1;
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */